@import '../../styles/tokens.scss';
@import '../../styles/mixins.scss';

.form {
    @include sm {
        margin-bottom: $spacing-m;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 34px;
        margin-bottom: 55px;

        @include sm {
            flex-direction: column;
            align-items: center;
            margin-bottom: $spacing-m;
        }
    }
    .btn {
        margin: auto;
    }
}