@import '../../../styles/tokens.scss';

.btn {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all .3s ease;
    width: 100%;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-family: $font-family-ds;
    font-size: $paragraph;
    font-weight: $font-weight-bold;
    line-height: $line-height-16;
    color: $white;

    &__default {
        background-color: $brand-pure;
        transition: all .3s ease;
    }

    &:hover {
        background-color: $brand-dark;
        transition: all .3s ease;
    }

    &:disabled {
        cursor: no-drop;
        background-color: $gray;
    }

    &.small {
        max-width: 100px;
    }

    &.medium {
        max-width: 224px;
    }
}