@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
@import './tokens.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-ds;
}

.container {
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 $spacing-s;
}