// Typography
$font-family-ds: 'montserrat';
$headline: 24px;
$paragraph: 14px;
$caption: 12px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 800;
$line-height: 60px;
$line-height: 24px;

// Colors
$brand-pure: #1E5BC6;
$brand-dark: #002C7A;
$error: #FF0000;
$gray: #D0D0D0;
$black: #282828;
$white: #FFFFFF;

//Spacings
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;
