@import '../styles/tokens.scss';

.main {
    position: relative;

    &__logo {
        display: flex;
        justify-content: center;
        padding-top: 120px
    }

    &__title {
        font-size: $headline;
        font-weight: $font-weight-medium;
        text-align: center;
        margin-top: $spacing-xxl;
    }
}