@import '../styles/tokens.scss';
@import '../styles/mixins.scss';

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    &__logo {
        display: flex;
        justify-content: center;
        padding-top: 120px;

        @include md {
            padding-top: 50px;
        }
    }

    &__title {
        font-size: $headline;
        font-weight: $font-weight-medium;
        text-align: center;
        margin-top: $spacing-xxl;
    }

    &__footer {
        border-top: 1px solid $gray;
        padding: 16px;
        &--content {
            font-size: $caption;
            text-align: center;
        }
    }
}